:root{
    --primario : rgb(0, 170, 255) ;
    --secundaria : rgb(68, 0, 128) ;
}

header{
    background-color: var(--primario);
}

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-brand {
    color: white;
}

#carrinhoDados{
    overflow-x: hidden;
    overflow-y: scroll;
}

.itemCarrinho{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}